doctype html
html(lang="en")
  head
    title ZERE Travel
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(description="Курортные районы и базы отдыха Восточного Казахстана") 
    link(rel="stylesheet", href="../dist/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic,cyrillic-ext")
  body
    header.site-header
      .container
        .row.row--no-gutter.row--flex.border-bottom.padding-top-bottom.relative
          a.menu-btn
            span.menu-btn__line
            span.menu-btn__line
            span.menu-btn__line
          .col.col--1-of-4.col--m-1-of-3.col--s-2-of-3.col--centered
            a(href="#").logo
              img(src="../dist/images/logo3.png", alt="")
          .col.col--1-of-4
          .col.col--1-of-4.col--am.col--m-1-of-3.col--flex.col--s-hidden
            span.nav-phone Звоните нам 24/7:
            span.nav-phone.bold +7(777)996-89-98
            span.nav-phone.bold +7(7232)40-26-74
          .col.col--1-of-4.col--am.col--m-1-of-3.col--flex.col--s-hidden
            span.nav-address Наш адрес:
            span.nav-address.bold ВКО, г. Усть-Каменогорск,
            span.nav-address.bold Токтарова 99A
          
        .row.row--no-gutter.nav-bottom
          .col.col--12-of-12
            nav
              a(href="#").nav-link Страны
              a(href="#").nav-link Идеи для отдыха
              a(href="#").nav-link Спец предложения
              a(href="#").nav-link Санатории
              a(href="#").nav-link О компании
              a(href="#").nav-link Фотоальбом
              a(href="#").nav-link Дополнительно
              
    section.image-slider
      .container
        .row.row--no-gutter
          .col.col--12-of-12
            .slides
              .slides__item.active
                span.slides__item__title Бухтарминское водохранилище
              .slides__item
                span.slides__item__title Курорты Турции
              .slides__item
                span.slides__item__title Курорты Алаколь
              .slides__item
                span.slides__item__title Курорты Алаколь
                
              h3.slides__title Отдыхайте с ZERE Travel в любой точке мира
              .slides__navigation
                span.slides__navigation__item.current
                span.slides__navigation__item
                span.slides__navigation__item
                span.slides__navigation__item
                
    section.about 
      .container
        .row
          .col.col--12-of-12
            .text-wrapper
              h1.about__title.ta--center Почему ZERE Travel?
              p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem alias officiis aut deserunt, ducimus consequuntur, molestias dolorum ipsam iure, maxime voluptatibus, voluptas optio itaque quis quas minus asperiores ipsa neque.
                
    section.suggested-places
      .container
        .row
          .col--12-of-12
            h2.ta--center Курорты Восточного Казахстана
        .row.row--no-gutter
          .col.col--4-of-12
            .place.alakol
              .place__thumbnail
              .place__text
                .place__title
                  span База отдыха “Фаворит”
                .place__where
                  span Озеро Алаколь
                .place__go-btn
                
          .col.col--4-of-12
            .place.buhtarma
              .place__thumbnail
              .place__text
                .place__title
                  span База отдыха “Фаворит”
                .place__where
                  span Озеро Алаколь
                .place__go-btn
          .col.col--4-of-12
            .place.katon
              .place__thumbnail
              .place__text
                .place__title
                  span База отдыха “Фаворит”
                .place__where
                  span Озеро Алаколь
                .place__go-btn
              

    script(src="../development/scripts/main.js")
               
                
